[user]
	name = xxxxxxx
	email = xxxxxxx
	signkey = xxxxxxxxxxx
[tag]
	gpgsign = true
	forceSignAnnotated = true
[init]
	defaultbranch = main
[commit]
	gpgsign = true
[push]
	# gpgsign = true # GitHub doesn't support this yet
	autoSetupRemote = true
[safe]
	directory = /Library/Developer/
[gpg]
	program = gpg2
[pull]
	rebase = true
[log]
	showSignature = true
[alias]
	me = !git config --local user.name 'Gordon Beeming' && git config --local user.email 'gpg@gordonbeeming.com' && git config --local gpg.format 'ssh' && git config --local commit.gpgsign 'true' && git config --local user.signingKey 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMCsRuWh3kYXQZdqpC6USqMpbAI63lXn85O0jFDcnFdR' && echo 'Switched to "Gordon Beeming [Personal] (SSH)".'
	ssw = !git config --local user.name 'Gordon Beeming [SSW • Microsoft MVP]' && git config --local user.email 'gordonbeeming@ssw.com.au' && git config --local gpg.format 'ssh' && git config --local commit.gpgsign 'true' && git config --local user.signingKey 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMCsRuWh3kYXQZdqpC6USqMpbAI63lXn85O0jFDcnFdR' && echo 'Switched to "Gordon Beeming [SSW • Microsoft MVP] (SSH)".'
	me2 = !git config --local user.name 'Gordon Beeming' && git config --local user.email 'gpg@gordonbeeming.com' && git config --local commit.gpgsign 'true' && git config --local user.signingKey 'D1C6C5C67ED8589E!' && echo 'Switched to "Gordon Beeming [Personal] (Yubi Key)".'
	ssw2 = !git config --local user.name 'Gordon Beeming [SSW • Microsoft MVP]' && git config --local user.email 'gordonbeeming@ssw.com.au' && git config --local commit.gpgsign 'true' && git config --local user.signingKey '0DB5A2459ED2BAAF!' && echo 'Switched to "Gordon Beeming [SSW • Microsoft MVP] (Yubi Key)".'
	nb = !git checkout main && git fetch && git pull && git checkout -b
	nb2 = !git checkout master && git fetch && git pull && git checkout -b
	ca = !git add -A && git commit -m
[gitbutler]
	gitbutlerCommitter = 1
	signCommits = true
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
